[2016-07-20 04:58] dbarrosop opened #3 "Can't install requirements"
Hello @inetuid,
looks like requirements can't be installed:

[code]

I saw that yandc is a library you have on your own account, you should make it installable and, optionally, publish it on pip.

[2016-07-20 05:08] dbarrosop commented on #3
It's also interesting to note that I was checking `yandc` and it looks like a similar idea to napalm. The only comment I might make about using that library instead of just directly whatever library mikrotic might provide is that we have to be careful we don't introduce too many unnecessary requirements

[2016-07-21 16:51] inetuid commented on #3
Yeah, it's something I mentioned on the initial mail to the napalm-automation group as needing to be looked at. The yandc library was my first decent sized Python project and was based on a previous Perl module that performed the same functionality.

Once I'd done the conversion, I ended up looking around for similar things which is how I came across Napalm 8-) It then seemed like a good idea to s

[2016-07-21 16:51] inetuid commented on #3
Oh, and I'm working though getting it on PyPI so it's instalable.

[2016-07-21 16:58] dbarrosop commented on #3
That sounds great! Once that works I will keep testing and reviewing : )

It would also be nice if you could help me getting access to a microtik device for testing, I don't care if it's virtual or real as long as I can run some tests.

[2016-07-21 16:59] mirceaulinic commented on #3
Wouldn't be easier to move the code that manager the connection from your lib (which is pretty small) into napalm-ros?
It would also be cleaner and would respect the standard of the other drivers - anyway you are using the ros API, don't you?

[2016-07-22 13:50] inetuid commented on #3
There should now have a working version of the library on PyPI that can be installed via pip.

A test instance (Vagrant box) is next on my TODO list - taking longer than expected due to learning curve of github, unittest, PyPI and now Vagrant. Thanks to @dbarrosop there is at least a useful crib sheet on creating a box online 8-)

At present the transport used is SSH and screen scraping (albeit th

[2016-07-26 21:29] dbarrosop opened #5 "Fix setup.cfg and requirements.cfg files"
Relates to napalm-automation/napalm#280

Add `setup.cfg` and `requirements-dev.txt` file with the following content:

* `setup.cfg

[code]

* `requirements-dev.txt`

[code]

[2016-08-16 12:14] inetuid commented on #3
Apologies for the time it's taken for this, but I've created a Vagrant box that works on my own test setup. Not sure how these should be distributed - currently it's available here - https://drive.google.com/file/d/0Bz_mygUBVsceNTBTVmNobmVQdkE/view?usp=sharing

[2016-09-09 18:37] dbarrosop opened #7 "add get_config()"
See details in the parent issue napalm-automation/napalm-base#65

[2016-09-10 11:22] #5 closed

[2016-09-12 07:02] dbarrosop opened #8 "Add `__version__` at the module level"
See details in the parent issue napalm-automation/napalm-base#70

[2016-09-12 08:15] dbarrosop opened #9 "Add ISSUE_TEMPLATE"
See details in the parent issue napalm-automation/napalm-base#71

[2016-09-13 15:56] dbarrosop opened #12 "Adding CONTRIBUTING.md and PULL_REQUEST_TEMPLATE.md files"
See details in the parent issue napalm-automation/napalm#297

[2016-09-18 14:00] dbarrosop opened #13 "Migrate tests to new testing framework"
See details in the parent issue napalm-automation/napalm-base#99

[2016-10-05 10:35] dbarrosop opened #15 "Pin napalm-base driver"
See details in the parent issue napalm-automation/napalm-base#107

[2016-10-05 11:12] dbarrosop opened #16 "Python 3 support"
See details in the parent issue napalm-automation/napalm#199

[2016-10-15 19:07] luqasz opened #18 "Need any help ?"
Hi.

I've wanted to create ansible plugin for mikrotik devices and noticed this repo. I've made some code for managing mikrotik devices (via API):
- [mcm](https://github.com/luqasz/mcm)
- [librouteros](https://github.com/luqasz/mcm)

Any way I can help ?

[2016-10-16 11:24] #3 closed

[2016-10-16 11:28] #15 closed

[2016-10-16 11:30] #12 closed

[2016-10-16 11:31] #9 closed

[2016-10-16 11:34] #8 closed

[2016-10-16 16:27] dbarrosop commented on #18
Yes, give me a few days to do some changes that will give us more visibility. I think there are a few things that might be worth discussing. For example, current implementation seems to use `paramiko`, something called `mikoshell` and `snmp`. I would love if we could use one transport only unless there are very clear advantages. Multiple transports mean multiple requirements for users and multiple

[2016-10-16 19:13] luqasz commented on #18
IMO using API will be more reliable (it has some dark corners) and will require no dependencies. Mikrotik does not have any commit/rollback model available from API. So called "safe mode" is not a solution either. It does not allow rollback on errors. Only when session is disconnected and I've experienced its inconsistency.

[2016-10-20 09:49] inetuid commented on #18
Code is currently using SSH (paramiko) and mikoshell (a simple Shell class on paramiko) to access the device (basically SSH in and screen scrape).

Code has been abstracted to call _api_get() for many functions which has been tested using rosapi (https://github.com/jellonek/rosapi) in dev versions.

I've not fully migrated because I've yet to test things like ping/traceroute where the output diffe

[2016-10-20 12:05] luqasz commented on #18
Ping and traceroute implementations differ from version to version. Mikrotik API is not versioned and it is difficult to know what have changed, but most basic stuff work. Do you want to move to API ?

[2016-10-21 07:35] inetuid commented on #18
If everything can be done in the API then yes. Looking at the code, some things I didn't test yet were:

/file remove
/export
/interface print without-paging stats-detail
/interface ethernet print without-paging stats
/routing bgp peer print without-paging status
/import

If all these can be done via API then great. If any have to be done via CLI then I'd question whether the API is useful as we w

[2016-10-21 11:13] luqasz commented on #18
All above (except `/import`, did not test that one) may be done via API. "Transaction" is problematic. Mikrotik does not expose "safe mode" via API. Does this "transaction" need to be implemented at all ?

[2016-10-21 12:08] inetuid commented on #18
Transaction doesn't need to be supported. At present, either it's a one off command (via cli()) or it's loaded using load_merge_candidate() and then commit_config(). I haven't managed to implement load_replace_candidate() or rollback() for reasons your outline.

Having mentioned cli() it dawns on me that this might be a problem for the API.

[2016-10-21 12:10] inetuid commented on #18
Transaction doesn't need to be supported. At present, either it's a one off command (via cli()) or it's loaded using load_merge_candidate() and then commit_config(). I haven't managed to implement load_replace_candidate() or rollback() for reasons your outline.

Having mentioned cli() it dawns on me that this might be a problem for the API.

[2016-10-21 13:46] luqasz commented on #18
Ok. Since there is no need to implement `safe mode` all can be dome via API. Like `set`, `remove`, `add`. I've implemented some logic that will check for differences and only do what is required for change. I'll make some sample code so you can see what I mean.

[2016-10-24 13:33] dbarrosop commented on #18
I just wanted to mention I am enjoying very much seeing different contributors synching and collaborating. This is great : )

[2016-10-24 21:49] luqasz commented on #18
I've forked and created [api](https://github.com/luqasz/napalm-ros/tree/api) branch. [Travis](https://travis-ci.org/luqasz/napalm-ros) builds are enabled.

[2016-11-01 09:40] inetuid commented on #7
PR created to add get_config().

[2016-11-13 18:05] luqasz commented on #18
I've created a POC [PR](https://github.com/napalm-automation/napalm-ros/pull/20).

[2016-11-18 08:01] dbarrosop opened #21 "Implement `is_alive` method"
See details in the parent issue napalm-automation/napalm-base#137

[2016-11-20 14:01] #7 closed

[2016-11-20 17:52] luqasz commented on #18
I have a following error from fresh clone (without my code)
[code]
I've tested with routeros 4.17 and 6.33.3. Is this error expected ?

[2016-11-21 14:22] dbarrosop commented on #18
I don't think any error is expected :S

@inetuid do you know what might be wrong there?

[2016-11-22 16:41] inetuid commented on #18
Looks like it's not properly (auto) detected the prompt when logging in. Not seen the problem before myself. Can you provide versions of paramiko and mikoshell?

Also, if you can add print "{}".format(timeout_prompt) after line 70 in shell.py and re-run that would be useful.

[2016-11-22 18:35] luqasz commented on #18
`pip list`
[code]

[code]

Tested on mikrotik (on virtualbox) `4.17` and `6.33.3`.

[2016-11-23 17:13] inetuid commented on #18
I see you are running it in ipython - does the same issue occur with (c)python?

[2016-11-24 08:10] dbarrosop opened #24 "Track branch `api`"
This issue is just to discuss and keep track of the progress of the API branch.

[2016-11-24 08:22] dbarrosop commented on #24
@luqasz are you gonna be migrating the rest of the methods to the API?

[2016-11-24 08:38] inetuid commented on #18
I've tried with ipython and it works for me. Can you try changing line 152 (should be @utils.debug) to @debug and uncomment. That will provide some output DEBUG of what is seen via SSH.

[2016-11-24 08:55] dbarrosop commented on #24
Pinging @inetuid, would be cool if you could review the API branch and contribute as well : )

[2016-11-24 12:17] #21 closed

[2016-11-24 19:40] luqasz commented on #18
[code]

[code]

[2016-11-24 19:45] luqasz commented on #24
I will migrate more methods into those using API

[2016-11-24 19:53] luqasz commented on #18
`utils.debug` in which package ?

[2016-11-25 10:48] dbarrosop commented on #24
Thx, great. If you need help with something let me know.

@inetuid, are you aware of this work?

[2016-11-26 10:06] inetuid commented on #18
Debug is a method in the mikoshell shell.py file. Just as it as a decorator as it'll output what it gets from SSH. It used to be in a package called utils but that was legacy.

[2016-11-26 10:22] inetuid commented on #24
I'm aware. I suggest the easiest way to integrate would be to replace the current _api_get() method that calls SSH rather than go through and replace all instances of this with the proposed api() method.

It would require fewer changes to the code which would make life easier as I'm still trying to address issues in the current codebase.

[2016-11-26 11:00] luqasz commented on #24
Shall I migrate all methods in one pull request or one by one ?

[2016-11-26 11:06] #13 closed

[2016-11-26 11:15] inetuid commented on #24
I've just read #20 which contradicts my point above. My preference was for it to be all or nothing. I didn't want to get 99% of the way through converting the code to use the API to discover some last little thing that required SSH to achieve and then need to support both mechanisms.

[2016-11-26 11:57] dbarrosop commented on #24
@inetuid

That's what we are doing. That's why all the PRs are going against the `api` branch. Once everything has been migrated we will merge into develop and then release. The reason to do it like this is so we can work in parallel, collaborate and have smaller PRs. But we agree with you, we want to use the API for everything.

[2016-11-26 12:01] dbarrosop commented on #24
@inetuid I understand there might be some confussion here because conversation has grown somehow organically across different PRs. Sorry about that. The relevant comment that agrees with your approach is this:

https://github.com/napalm-automation/napalm-ros/pull/22#issuecomment-262320614

[2016-11-26 12:05] dbarrosop commented on #24
@luqasz do as you prefer. It also depends on how long you think it's gonna take for you to migrate everything, if we are talking weeks I'd suggest sending a PR every time you get a couple of methods migrated.

[2016-11-26 13:22] inetuid commented on #24
I suggest converting the methods that call self.cli() (and the traceroute() method) first as these are the ones I have either not tested using the API or didn't know how to do via the API. The methods that currently call self._api_get() should already work (or at least I've tested against my private API branch.

[2016-11-27 20:40] luqasz commented on #24
@inetuid Where did you get sample data for eg. `test/unit/mocked_data/test_get_interfaces_counters/normal/_interface_ethernet_print_without_paging_stats_where_name___ether1_` ? I'd like to launch a mikrotik in virtualbox and test against it. And which version also.

[2016-11-28 16:40] inetuid commented on #24
Off the top of my head, it came from my home router running 6.3X something. Do you not get it in Virtualbox?

[2016-11-28 20:57] luqasz commented on #24
I do have working virtualbox setup but I do not have all things such as `/system/health` voltage etc.

[2016-11-28 21:05] inetuid commented on #24
Yeah, there are some physical things (fans, power, switch chips, optics) that you can't replicate in the virtual ROS instance. You need access to a physical device for these.

[2016-11-28 21:23] luqasz commented on #18
I know why is is not working. I have a trial version on virtualbox. After ssh into box:
[code]
I have a snapshot which I restore when it expires.

[2016-11-30 08:18] inetuid commented on #18
I'll take a look at fixing this even though it's unlikely to cause a problem in production use.

[2016-12-17 11:48] #16 closed

[2016-12-17 11:51] dbarrosop commented on #18
Ok, we are almost done. I have just released `napalm-ros` 0.2.0. To make it official we still need a PR though in `napalm` adding it to the requirements.txt file and updating the docs. Can any of you take care of it, please? : )

Thanks!

[2016-12-17 11:55] dbarrosop opened #38 "Tox"
See details in the parent issue napalm-automation/napalm#327

[2016-12-17 12:13] luqasz commented on #18
Yes I can do it. I will also make a PR for napalm-ansible

[2016-12-27 12:56] luqasz commented on #18
Can this issue be closed ?

[2016-12-27 13:08] luqasz opened #40 "Config manaement"
Hi.

Since MikroTik does not have any notion of `config replace`, I was wandering how to solve this problem in driver. I've [done](https://github.com/luqasz/mcm) config management from parsed JSON file. This works well if you specify every option.

Do you have any other ideas ?

[2016-12-29 09:47] dbarrosop commented on #40
Could you show some example?

[2016-12-29 09:54] dbarrosop commented on #18
Yes, let's close it.

[2016-12-29 09:54] #18 closed

[2016-12-29 09:54] dbarrosop commented on #18
Would be nice to recover the methods that were removed, by the way.

[2016-12-29 09:55] luqasz commented on #18
I am working on it.

[2016-12-29 11:11] luqasz commented on #40
https://github.com/luqasz/mcm/wiki/Getting-Started

[2016-12-30 10:03] dbarrosop commented on #40
So, the problem with the solution described there is you have to know what to remove, right? The library doesn't know unless you specify it, does it?

[2016-12-30 16:40] luqasz commented on #40
Yes. Same goes to imports from cli.

[2017-01-11 09:32] dbarrosop commented on #40
Mmm, I think it defeats the purpose of the `replace` function, if you know what to remove and you have to specify it, that's more of a `merge` operation.

[2017-01-11 10:15] luqasz commented on #40
`replace()` may raise `NotImplemented` because it it not possible.

[2017-01-13 12:23] dbarrosop commented on #40
For any module not implemented, you can just leave it out. The base class has them all and it raises a NotImplemented exception already.

[2017-01-30 14:50] mirceaulinic opened #41 "Add VRF support to base traceroute and ping"
### Description of Issue/Question

Ref: https://github.com/napalm-automation/napalm-base/pull/185

[2017-02-08 20:35] #41 closed

[2017-02-12 00:39] mirceaulinic opened #45 "`get_interfaces_ip`: add `primary_ip` key"

[2017-03-06 03:12] mirceaulinic opened #47 "New feature: commit confirmed"
See details in the parent issue napalm-automation/napalm-base#214

[2017-03-06 03:34] mirceaulinic commented on #47
@luqasz @inetuid can you please have a look at this and see if you can implement this feature on the ROS driver? Let me know if you have any questions! Thanks!

[2017-03-06 08:25] luqasz commented on #47
With API it is not possible to do any kind of transaction.

[2017-03-17 18:28] mirceaulinic opened #48 "Enhance `get_arp_table` and `get_mac_address_table` with filtering arguments"
See details in the parent issue napalm-automation/napalm-base#217

[2017-08-22 21:47] luqasz commented on #45
Hi.

Mikrotik does not provide any information on primary information. There is no concept of primary address.

[2017-11-09 07:19] dbarrosop opened #57 "looking for owners for ros driver"
Hello,
community drivers are going to be maintained by the community or considered deprecated and unmaintained. For that reason we are looking for people willing to maintain this repo. Owners will have full admin rights on this repo and on its pypy package.

Pinging top contributors to see if they are interested; @inetuid @luqasz

If you have questions/comments let me know.

Regards

[2017-11-09 19:07] luqasz commented on #57
Does this mean that some drivers will be maintained by some "staff" ?

I am interested in maintaining this repo.

[2017-11-09 19:11] dbarrosop commented on #57
It basically means that core drivers (nxos, nxos-ssh, ios, iosxr, junos and eos) will be officially maintained by the 'napalm-automation' group while the other drivers will be maintained by the community. As you seem to be interested I will give you full rights over this repo and to pypy (if you don't have them already) and it's all yours. You can do and undo as you please :)

We have been slowing

[2017-11-10 09:08] dbarrosop commented on #57
Just gave you admin access.

[2017-11-12 19:52] luqasz commented on #57
@dbarrosop What about pypi uploads ?

[2017-11-13 08:46] dbarrosop commented on #57
What's your username on pypi? I will make you admin there.

[2017-11-13 18:44] luqasz commented on #57
`lkostka`

[2017-11-14 09:12] dbarrosop commented on #57
Done!

[2017-11-14 09:12] #57 closed

[2017-11-23 18:47] #45 closed

[2017-11-23 18:49] #24 closed

[2017-11-23 18:57] #47 closed

[2017-12-15 18:07] brotherdust commented on #48
I ran into this myself not too long ago. Although the API change was approved for NAPALM, there's a limitation in librouteros: it doesn't accept any filter arguments with the print command. I modified librouteros to make it work, but the change broke compatibility with NAPALM, so I ended up just using librouteros by itself. =/

[2017-12-18 01:03] adamharm commented on #40
I am interested in helping implement some configuraton management in this library.  I have limited experience with napalm and so I would appreciate some pointers to get me started.

Am I correct in assuming that configuration merge is the way we need to go because mikrotiks don't support a way to replace the running configuration?

Are you aware if others drivers have had to resolve this same issu

[2017-12-20 20:55] luqasz commented on #48
Currently librouteros does not have any "official" query support. I am [planning ](https://github.com/luqasz/librouteros/issues/11)to add this. For now I can implement a rather crude workaround.

[2017-12-20 20:58] luqasz commented on #40
@adamharm please contact me on offifial NAPALM [slack](https://networktocode.herokuapp.com/). I will help you and we can discuss this topic there.

[2017-12-29 12:42] luqasz commented on #48
I am confused. `napalm-base` have some pull requests but `napalm-ros` uses `napalm` which does not have this extended method.

[2018-06-05 08:45] Lillecarl opened #62 "pip3 installation error"
[code]

Errors when installing on Ubuntu 18.04

[2018-06-07 09:15] #62 closed

[2018-06-26 10:34] nido009 opened #64 "get_interfaces_ips fails when ipv6 package disabled"
### Description of Issue/Question
when ipv6 routeros package is not enabled the get_interfaces_ips() function fails.
### Setup
[code]

### napalm-ros version
(Paste verbatim output from `pip freeze | grep napalm-ros` between quotes below)

[code]

### ROS version
(Paste verbatim output from `/system package print` between quotes below)

[code]

### Steps to Reproduce the Issue

### Error Traceback

[2018-06-27 17:51] #64 closed

[2018-09-29 09:46] alireza-ghasemi opened #68 "Implementing CLI"
I want to implement CLI module for napalm-ros. it can get several commands and return result from Mikrotik.
I can develop several method input commands and export results.

- in input commands , two items can get
  - same as API like
    `('/ping',{'address': '8.8.8.8' ,'count': '3','ttl':'255','size':'150'})`
  - same as Mikroitk Terminal like
    `ping address=8.8.8.8 count=3 ttl=255 size=150`

[2018-09-29 11:36] luqasz commented on #68
What do you mean by "it can get several commands"

You can already issue command with e.g. [librouteros](https://github.com/luqasz/librouteros)

[2018-10-02 09:06] alireza-ghasemi commented on #68
I get list of commands and return result in dict.

api command in librouteros get one command as just API. I can get terminal command (human readable) and return dict or string.

[2018-10-02 16:47] luqasz commented on #68
napalm-ros depends on API. There is no way to send multiple commands at once and return a "human readable" response.

[2019-03-05 09:49] govardhan271 opened #69 "Writing Parser for ROS device"
Writing Parser for mikrotik-ros device?

    How to select the parser type for ROS device?
    What is the command similar to show running-config all command in eos and nxos device?
    How the parser implementation is to be done, I mean writing the regex to parse the data?

I was able to get the data from device, but to parse the data i am facing the above issues mentioned.

The data i got from t

[2019-03-05 14:05] luqasz commented on #69
This driver uses API. No text parsing is required in `napalm-ros` for replies.
What problem do you want to solve ?

[2019-03-13 20:05] adam-edwards opened #71 "Can config management really not be implemented?"
In the README, you make the statement:

Is this really accurate? You can run `/export file=<filename>` as well as `/import file-name=<filename>` to export/import the config and modify it in file format. Is there a technical reason that this is not a workable solution? I know you mention that order matters in some places and not others. Is this the issue? And if so, is there not a way around this,

[2019-03-13 20:23] luqasz commented on #71
`/export file=<filename>` produces a lot of scripting "macro"

This is a trap. Once I (or any one else) implement this, I will have tons of maintenance with escaping mikrotik scripting language. MikroTik may change without prior information (which they did this in the past breaking backwards compatibility) syntax. It is just a PITA.

Uniqueness in some command paths.

Two options here. User provid

[2019-03-13 21:19] adam-edwards commented on #71
Makes sense - thanks for clarifying. So basically, whereas the commands in a Cisco or Juniper config file represent a desired configuration state, the commands in the RouterOS represent actions. Or in other words, there's not necessarily an idempotent config syntax.

[2019-03-13 21:30] luqasz commented on #71
Yes. Exactly.

[2019-04-29 04:55] jkldgoefgkljefogeg opened #72 "pip install napalm-ros missing requirements"
### Description of Issue/Question

`pip install napalm-ros` did not install requires (librouteros)

[code]

### Setup

netbox-docker

### napalm-ros version
(Paste verbatim output from `pip freeze | grep napalm-ros` between quotes below)

[code]

### Steps to Reproduce the Issue

`pip install napalm-ros` in netbox-docker netbox container

### Error Traceback
(Paste the complete traceback of the ex

[2019-04-29 04:56] jkldgoefgkljefogeg commented on #72
I got it to work after manually install librouteros. But still not sure why requirements were not installed

[code]

[2019-04-29 09:15] luqasz commented on #72
Fixed in 51e8e09d28b5e2dfd266a9c8b40a8dd743d97919
Thx.

[2019-04-29 09:35] jkldgoefgkljefogeg commented on #72
Why is requirements.txt not followed in this case?

[2019-04-29 10:05] luqasz commented on #72
For some reason pip ignored `requiremenst.txt`, so I moved them to `setup.py`

[2019-09-18 20:52] shahro0z commented on #71
Technically there is a workaround but it requires a reboot of the device.
/system reset-configuration run-after-reset=_new_config.rsc_

[2019-09-18 20:56] shahro0z commented on #71
Technically there is a workaround but it requires a reboot of the device.
/system reset-configuration run-after-reset=_new_config.rsc_

[2019-09-18 21:53] luqasz commented on #71
/system reset-configuration run-after-reset=new_config.rsc

Hmm. Didn't know that. Thx for information. IMO this is crude but acceptable.

[2019-09-19 06:44] shahro0z commented on #71
Another caveat is that you need to upload the rsc file to the device before issuing the command. As you mentioned this is indeed crude and not justifiable on edge/core devices but acceptable on leaf nodes.

[2019-09-19 13:58] luqasz commented on #71
Yes. I agree. Since there is no other way, end user must decide if reboot is ok for his device.

[2020-04-13 08:53] EugeneDimitrov opened #73 "get_ntp_servers method returns an empty dict"
### Description of Issue/Question
Got empty dict after **get_ntp_server** method execution, although on the device I have two ntp servers configured.
### Setup
I use napalm-os library with ansible napalm plugin. Here it is playbook that I'm using:

[code]

### napalm-ros version
[code]
### ROS version
[code]
### Steps to Reproduce the Issue
On mikrotik device:
[code]
result of _ansible-playbook ge

[2020-04-14 19:58] luqasz commented on #73
Hi.

Thx for this report. It is caused by getting ntp servers from `server-dns-names` field without `primary-ntp`, `secondary-ntp`. This needs to be fixed.

[2020-04-14 21:16] #69 closed

[2020-04-14 21:17] #68 closed

[2020-04-15 15:08] #73 closed

[2020-04-19 19:41] luqasz commented on #48
Closing since `napalm-base` does not have any filtering.

[2020-04-19 19:41] #48 closed

[2020-04-19 19:50] luqasz commented on #38
I prefer to testo code on CI with multiple python versions.

[2020-04-19 19:50] #38 closed

[2020-04-19 19:51] luqasz commented on #40
closing in favor of #71

[2020-04-19 19:51] #40 closed

[2020-06-11 02:39] joaolucasmacedo opened #76 "get_environment method not working. "tuple index out of range""
### I'm trying to do some work with NetBox and realized that the get_environment method is not working. Both my server and on my Windows 7 machine it returns "tuple index out of range"

### Python 3.8
### napalm version
"2.5.0"
### napalm-ros version
"0.5.1"
### ROS version
6.47

![Napalm-ros error](https://user-images.githubusercontent.com/66760118/84338842-863db080-ab73-11ea-9cd4-913116312766.pn

[2020-06-11 20:08] luqasz commented on #76
Please provide output of `/system health print` from console.

[2020-06-12 03:15] joaolucasmacedo commented on #76
It returns nothing.

[2020-06-12 03:18] joaolucasmacedo commented on #76
<img width="471" alt="system health" src="https://user-images.githubusercontent.com/66760118/84461184-35e15400-ac42-11ea-8105-fedac358576d.png">

[2020-06-17 11:33] luqasz commented on #76
I know why this is happening. I need to ask in `napalm-base` what to do in such case.

[2020-07-01 02:22] joaolucasmacedo commented on #76
Did you find any workaround?

[2020-07-01 12:21] luqasz commented on #76
Yes. I will fix it today

[2020-07-01 19:24] #76 closed

[2020-08-23 08:48] konstanting-kaymera opened #82 "Support for napalm version 3.*"
Hello!
The plugin id great! :fire: :1st_place_medal:
Is it possible to make `napalm-ros` to work with `napalm` version 3
right now the restriction in `setup.py:41` is `napalm==2.*`

Thank you

[2020-08-24 13:09] luqasz commented on #82
Hi.
Yes it is possible and I will do it.

[2020-10-26 13:48] luqasz commented on #82
Released in version 1.0.0

[2020-10-26 13:48] #82 closed

[2020-11-02 11:21] Dacesilian opened #83 "Method get_interfaces_counters failed: 'tx-error'"
### Description of Issue/Question
get_interfaces_counters doesn't work. It reproduces error:

[code]

### Setup

### napalm-ros version
Installed first with pip and then also from this github and used: `python3 ./setup.py install`
[code]

### ROS version
[code]

Am I using latest version if I installed it from git with setup.py install? Thanks.

[2020-11-02 11:24] Dacesilian opened #84 "get_bgp_neighbors and get_bgp_neighbors_detail error"
### Description of Issue/Question
get_interfaces_counters doesn't work. It reproduces error:

[code]

### Setup

### napalm-ros version
Installed first with pip and then also from this github and used: `python3 ./setup.py install`
[code]

### ROS version
[code]

[2020-11-02 12:05] luqasz commented on #83
Hi.

Napalm as far as I know doesn't expose any HTTP api. Please run the same command from cli / ipython. I need exact exception so I can help.

[2020-11-25 00:22] luqasz commented on #84
Hi.

Napalm as far as I know doesn't expose any HTTP api. Please run the same command from cli / ipython. I need exact exception so I can help.

[2020-12-04 16:52] Dacesilian commented on #84
Hello, I was able to reproduce this error in Python.

Run script:
`import napalm
from napalm_ros import ros

router_ip = '10.0.0.1'
router_port = 8728
router_user = 'user'
router_pass = 'pass'

driver = napalm.get_network_driver('ros')

print('Connecting to', router_ip, "on port", router_port, "as", router_user)

device = driver(hostname=router_ip, username=router_user,
                    passwor

[2020-12-09 16:02] luqasz commented on #84
I wonder how it is possible that bgp peer doesn't have any prefix-count ? Is this connection established ?

[2020-12-11 12:37] floatingstatic commented on #83
I believe `GET /api/dcim/devices/2/napalm/?method=get_interfaces_counters` comes from the [Netbox NAPALM integration](https://netbox.readthedocs.io/en/stable/additional-features/napalm/) which just calls napalm via the Netbox API.

I have a device running the latest stable ROS release, `6.47.8 (stable)`, model is `CCR1009-7G-1C-1S+`, using `napalm-ros==1.0.0` and `librouteros==3.0.2` I am unable t

[2020-12-11 12:46] floatingstatic commented on #84
I am unable to reproduce this problem on a CCR1009 running `6.47.8` using `napalm-ros==1.0.0`. @Dacesilian can you please inspect the api response directly with librouteros as follows (replacing user/pass/ip where applicable):

[code]

I am curious what keys you get back from the api call. I think it should clue us in on how to fix this.

[2020-12-11 13:50] luqasz commented on #84
I suspect that MikroTik in their infinite wisdom decided to not show `established` at all when peer is not connected ....

[2020-12-12 19:12] floatingstatic commented on #84
wow, yeah thats exactly what is going on:

[code]

I can make a patch for this.

[2020-12-12 19:33] Dacesilian commented on #84
There are many columns missing in some records; and in others, there is `established False` present.
`/routing/bgp/peer/print` output examples:

[code]

[code]

[code]

[2020-12-12 19:40] Dacesilian commented on #83
Probably there is a problem, that key (tx-error) is not present in some blocks?

[code]

[2020-12-12 21:44] floatingstatic commented on #83
Can you share the full output from one of the interfaces that is missing the `tx-error` key? I suspect there may be other keys missing and that would be helpful to see. Thanks!

[2020-12-14 13:17] luqasz commented on #84
Thx for fixing and reporting.

[2020-12-14 13:17] #84 closed

[2020-12-15 09:05] Dacesilian commented on #83
Sure, for example:
[code]

[code]

[2020-12-15 12:44] floatingstatic commented on #83
It looks like drop/error counters are not returned via the mikrotik api when an interface is not running (R). Thank Mikrotik for that consistent behavior. #86 should fix this (I also added a test case for this).

[2020-12-15 19:48] #83 closed

[2021-03-06 19:19] adamcharnock commented on #71
I've just come across this while considering a deployment of Netbox + NAPALM ROS. Did anything ever come of the discussion with @adamharm in #40 regarding creating configuration merge system?

I ask because I already have something tentatively working in this regard, and I'd be happy for it to be used here. I may also be up for submitting the PR myself (I'm not 100% sure I'm going to go ahead with

[2021-03-06 19:48] dBitech commented on #71
Even if it is not useful to anyone else, I have a use case where this would be a perfect solution

[2021-03-07 01:44] adamcharnock commented on #71
Hey @dBitech, I'm glad to hear it. Ok, I've just spun it up into its own little project:

https://github.com/gardunha/routeros-diff

You'll probably run into some quirks, but feel free to raise issues / send PRs. I took some time to refactor & comment the code before releasing.

---

Additionally, I'd be happy for `napalm-ros` to pull in the above project as a dependency (and indeed, I may even do

[2021-03-07 22:01] luqasz commented on #71
Hi. @adamcharnock Thx for your input. Your solution seems good enough. I have couple of questions though.
1. Is your program able to produce a replace commands ?
2. How end user can provide NATURAL_KEYS ? Things change in RouterOS (sometimes even without prior notice) so keys also may change.

[2021-03-07 23:14] adamcharnock commented on #71
That is good to hear @luqasz. Answers below:

Can you clarify this, I'm not sure I completely understand.

An excellent point. I have added [settings](https://github.com/gardunha/routeros-diff#settings) and released version `0.2.0`.

[2021-03-10 02:17] luqasz commented on #71
We are interested in replacing and merging config. Napalm provides methods for that.

E.g if you want to add a ip address to a list and you don't care / don't want to touch other entries then, you will use a merge option.

If you want to have exactly what you say in config file (later to be parsed), then you want a replace method.

[2021-03-10 02:18] luqasz commented on #71
As for NATURAL_KEYS, we still need some way to add it to parsable config.

[2021-03-10 08:01] adamcharnock commented on #71
Hi @luqasz,

Ok, I see what you are saying. `routeros-diff` will currently only provide you with a replace method. An implementation of Napalm's `load_replace_candidate()` would work as follows:

* Accept the destination config as a parameter
* Fetch the current config from the device
* Run `routeros-diff`
* Upload the patch script to the device
* Execute the patch script

---

I have not looked i

[2021-03-15 13:55] luqasz commented on #71
Destination config is a file that we want to apply ?

Nope. `napalm-ros` doesn't parse any external files.

[2021-03-15 21:18] adamcharnock commented on #71
Correct. I'm using this terminology:

* Old / source  - the config we are coming from (i.e. the config on the router)
* New / destination - the config we wish to be on the router

Ok, in that case, can you clarify your original meaning?

[2021-03-15 21:26] adamcharnock commented on #71
It seems we are bouncing back and forth a bit here. The questions on my mind are:

* Is `routeros-diff` suitable for use in implementing a solution to this issue? If not, what would you like to see changed?
* Are there any specific things you are looking for in a PR? Specifically, a PR which makes use of `routeros-diff` to implement a solution to this issue.

[2021-03-17 15:58] luqasz commented on #71
for what I see yes. We would have to test it either way to see what issues we will encounter.

I am thinking about merging your code / work into https://github.com/luqasz/librouteros. Those functionalities are pretty much on pair with each other. I know that librouteros provides API only code, however we can expand it and provide extra functionalities. I think it will be easier in long term to mai

[2021-03-17 17:37] adamcharnock commented on #71
I've had a think and that sounds like a good idea to me. My thoughts are:

1. Merging `routeros-diff` into `librouteros` definitely makes sense. It seems like a pretty natural fit
2. I *believe* that fetching a `/export` from RouterOS is only possible via SSH. It *should* be possible via the API, but it has not worked for me and I have seen some forum posts stating as much. Equally, I believe uplo

[2021-03-19 19:46] adamcharnock commented on #71
FYI @luqasz, I have this working now.

## [Napalm-ros fork](https://github.com/gardunha/napalm-ros)

I've got a fork with the SSH client added and config reading & writing working. However, I realised that early on I also turned the fork into a working Netbox plugin. I think this was primarily because I wanted some way to store each host's SSH keys, so I created a Django model for it.

This fork s

[2021-03-23 00:10] luqasz commented on #71
Ok. Let's merge your work. Please correct me if I am wrong. Do you want to merge code from `routeros-diff` into `napalm-ros` ? If not then I fear we will have possible dependency issues. `napalm-ros` depending on version x of `librouteros` while `routeros-diff` may depend on other version of `librouteros`

[2021-04-03 00:39] luqasz commented on #71
@adamcharnock What do you think ?

[2021-04-03 11:39] adamcharnock commented on #71
Hey @luqasz  - sorry for the delayed response. I'm also starting a WISP and building a house 🙄

Given my experiences in recent weeks, I think it would be best to delay this. I still finding the occasional problem with with `routeros-diff`, and being able to iterate/release quickly is a big benefit.

Also, I previously asked, "I would like to retain some stewardship of the diffing code. Would you b

[2021-04-18 21:33] luqasz commented on #71
Sure. Everyone can contribute to librouteros.

Ok so napalm-ros should produce parsable config string for routeros-diff.

Yes. Please merge into config-diff branch

[2022-04-09 14:26] SerhiiZahuba opened #92 "Get config for ROS"
Tell me please . Do you have plans to add get_config capability to this module? I'm using napalm-ros with netbox and wanted to see my routers config in the interface but now I realized that the module doesn't support get_config .

Method get_config not implemented for NAPALM driver <class 'napalm_ros.ros.ROSDriver'>

Thanks

[2022-04-25 13:58] SerhiiZahuba commented on #92
Yes

[2022-04-25 21:54] luqasz commented on #92
I will do it after polishing tests. This requires SSH access as well since `/export` doesn't output anything via API.

[2022-07-13 16:27] brantleyp1 opened #95 "expected string or bytes-like object on get_facts"
### Description of Issue/Question
I've got napalm/napalm-ros installed on an instance of NetBox and am hitting an error "napalm - ERROR - method - Failed: expected string or bytes-like object" either calling get_facts via CLI or NetBox GUI

### Setup
Fresh install of Ubuntu 20.04 that has updates run.

The Napalm/Napalm-ROS are being installed in both /usr/local/lib/python3.8 and /opt/netbox/venv/

[2022-07-15 11:36] vittore commented on #92
+1

[2022-07-15 17:26] luqasz commented on #95
Please provide all interface names for a device that crashes napalm-ros. I suspect some strange character in name.

[2022-07-19 23:36] ZPrimed opened #98 "Support for napalm v4.x?"
napalm-ros currently requires napalm == 3.*
Development in the napalm world seems to move pretty quick and they are up to v4.0.0 as current stable (this does require python 3.7+, but 3.0.0 was 3.6+ so I don't think it's a drastic python change like 2->3)

Any chance that napalm-ros can be bumped to napalm 4.x?

I'm not much of a programmer so I don't really know how to do this - my installation of

[2022-07-22 21:13] luqasz commented on #98
With:
[code]

That's not all. Napalm 4.x broke/fixed tests in [this](https://github.com/napalm-automation/napalm/pull/1651) PR. I need to handle this in code.

[2022-07-24 16:32] candlerb commented on #98
But if you install both napalm and napalm-ros in the same command:

[code]

I get:

[code]
$ python
Python 3.10.4 (main, Apr 26 2022, 19:42:59) [Clang 13.1.6 (clang-1316.0.21.2)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/brian/tmp/zzz/venv/lib/python3.10/site-packages/nap

[2022-07-25 16:14] geoffdavis commented on #92
I think this got fixed in #94 and #97

[2022-07-25 17:11] SerhiiZahuba commented on #92
Can you help me ?  i see an error after update module

[code]

[2022-07-26 13:35] luqasz commented on #92
Done in #97

[2022-07-26 13:35] #92 closed

[2022-07-26 13:54] SerhiiZahuba opened #99 "napalm_ros.query error"
After updating the module, I get an error related to napalm_ros.query . But I can't find the napalm_ros.query module.

``
(venv) [root@Inventory netbox]# napalm --user admin --vendor napalm_ros 91.1.1.1 call get_config
Enter password:
2022-07-25 19:09:10,286 - napalm - ERROR - get_network_driver - Failed: No module named 'napalm_ros.query'

================= Traceback =================

Traceback

[2022-07-26 15:08] luqasz commented on #99
Module is [here](https://github.com/napalm-automation-community/napalm-ros/blob/master/napalm_ros/query.py).

Provide information about:
* napalm version
* napalm-ros version
* librouteros version

And use proper formatting in your traceback paste.

[2022-07-27 06:31] SerhiiZahuba commented on #99
Thank you. I'm sorry. Added information below.

napalm version - 4.0.0
napalm-ros  - 1.0.1
librouteros - 3.2.1

`napalm --user admin --vendor napalm_ros 91.1.1.1 call get_config`

Now I'm getting another error

`{
    "running": "expected end of command (line 1 column 14)\n",
    "candidate": "expected end of command (line 1 column 14)\n",
    "startup": "expected end of command (line 1 column 14)

[2022-07-29 17:56] luqasz commented on #99
`napalm-ros` with `get_config()` isn't released yet so how did you execute `get_config` ?

[2022-07-29 17:58] luqasz commented on #98
First you've written that pip installs:
[code]
Later:
[code]

So which is true ?

[2022-07-29 18:34] candlerb commented on #98
Sorry, that was a copy-paste error.

When I did `pip install napalm-ros`, I got a consistent set of packages. When I did `pip install napalm napalm-ros`, I got the conflict (napalm 3.x with netmiko 4.x)

Starting with fresh virtualenvs: here is `pip install napalm-ros`:

[code]

And here is `pip install napalm napalm-ros`:

[code]

[2022-07-29 18:57] luqasz commented on #98
In one install you get:
[code]
and in another:
[code]

Any way, `napalm-ros` will work now with `napalm==4.*`

[2022-07-29 18:57] #98 closed

[2022-07-29 19:02] candlerb commented on #98
Sorry, I didn't make the point clear.

In the first install, I get netmiko-3.4.0 and all is good.  In the second I get netmiko-4.1.1, and napalm 3.3.1 is *incompatible* with netmiko 4.x.

[code]

[2022-07-29 22:59] luqasz commented on #98
Use version pinning.

[2022-07-30 05:12] SerhiiZahuba commented on #99
I copied all your changes to get_config. I thought it would work. If you have information - please write when the new version will be released.

[2022-07-30 15:58] luqasz commented on #99
It's released.

[2022-07-31 04:43] SerhiiZahuba commented on #99
after update to 1.1.0 i see an erorr

Enter password:
{
    "running": "expected end of command (line 1 column 14)\n",
    "candidate": "expected end of command (line 1 column 14)\n",
    "startup": "expected end of command (line 1 column 14)\n"
}

[2022-07-31 18:02] luqasz commented on #99
Which version of routeros are you running on destination host ?

[2022-08-01 05:27] SerhiiZahuba commented on #99
6.48.5

[2022-08-01 14:11] luqasz commented on #99
Does `/export terse` work for you in regular ssh session ?

[2022-08-01 14:50] SerhiiZahuba commented on #99
Yes. Works.

[2022-08-01 16:11] luqasz commented on #99
Hmm. Try to modify https://github.com/napalm-automation-community/napalm-ros/blob/master/napalm_ros/ros.py#L372
and set
[code]
note `/`

[2022-08-03 07:13] SerhiiZahuba commented on #99
did not help

[code]

[2022-08-04 13:35] luqasz commented on #99
Hmm Then I don't know what's the problem. 🤷

[2022-08-17 15:15] lwijnsma opened #104 "The get_facts module throws an AttributeError."
### Description of Issue/Question

When trying to use the `get_facts` call the python module throws an `AttributeError`.

### Setup

(Router RB3011) <---> (Linux box with python and napalm)

### napalm-ros version

[code]

### ROS version

[code]

### librouteros version

[code]

### python version

[code]

### Steps to Reproduce the Issue

[code]

### Error Traceback

[code]

[2022-08-17 16:14] luqasz commented on #104
Which version of `napalm` do you have ?

[2022-08-17 16:50] lwijnsma commented on #104
`napalm==4.0.0`

[2022-08-18 12:47] luqasz commented on #104
Weird. Code works and it's tested on CI with python 3.8. Can you print out all attributes of `Version` object ?
at https://github.com/napalm-automation-community/napalm-ros/blob/master/napalm_ros/ros.py#L345
[code]

[2022-08-19 10:27] lwijnsma commented on #104
This is the output of that command:
[code]

[2022-08-19 10:28] lwijnsma commented on #104
And this is the output of :
[code]

[2022-08-19 10:37] luqasz commented on #104
`parsed_version` should return `Version object` e.g.
[code]

[2022-08-19 10:39] luqasz commented on #104
Try to upgrade `setuptools` and `pip` to newest versions.

[2022-08-19 10:44] lwijnsma commented on #104
pip was already on the latest version but upgrading setuptools from 44 to 65 did the trick.
thank you for the help

[2022-08-19 10:44] #104 closed

[2022-08-30 17:41] #71 closed

[2022-09-23 07:17] burrem opened #105 "get_config does not work correctly."
### Description of Issue/Question
get_config does not return mikrotik config
### Setup

### napalm-ros version
(Paste verbatim output from `pip freeze | grep napalm-ros` between quotes below)

[code]

### ROS version
(Paste verbatim output from `/system package print` between quotes below)

[code]

### librouteros version
(Paste verbatim output from `pip freeze | grep librouteros` between quotes b

[2022-09-25 17:16] luqasz commented on #105
Nope https://github.com/napalm-automation-community/napalm-ros/blob/1.2.0/napalm_ros/ros.py#L362

There is not such param as `hide-sensitive`

[2022-10-14 05:16] pnikolskii commented on #105
I think this is because of chenges in ROS7
In ROS 6 defaut export command was "show-sensitive"
In ROS7 - "hide-sensitive" so argumenta are opposite

[2022-10-14 05:26] pnikolskii opened #106 "Problems with getting lldp neighbors"
### Description of Issue/Question

### Setup

### napalm-ros version
[code]
### ROS version
[code]
### librouteros version
[code]
### python version
[code]
### Steps to Reproduce the Issue

When trying to use print(device.get_lldp_neighbors()) error is shown

### Error Traceback
[code]

I also tried print(device.get_lldp_neighbors_detail()) and it works as expected, so it may be not so critical pr

[2022-10-14 13:33] luqasz commented on #105
I have `7.4.1` which has `show-sensitive`

[2022-10-15 06:15] pnikolskii commented on #105
Yep it has show-sensitive because by default it hides secrets
In ROS 6.X by default export shows secrets and you nedd to add hide-sensitive

It's one of changes in ROS7

[2022-10-15 12:52] luqasz commented on #105
Ok. Now I understand.

[2022-10-15 12:55] luqasz commented on #106
@pnikolskii  Can you show the output of `/ip/neighbor/print` ?

[2022-10-15 13:37] pnikolskii commented on #106
[code]

[2022-10-15 15:32] luqasz commented on #106
Sorry `/ip/neighbor/print detail` since it will print in a key-value pair without table.

[2022-10-16 14:50] pnikolskii commented on #106
Good day!
[code]

[2022-10-20 22:00] #99 closed

[2022-10-20 22:00] #95 closed

[2022-10-24 21:54] #105 closed

[2022-10-29 12:04] alryaz opened #107 "Paramiko args / compatibility with RouterOS 6.40.*"
### Description of Issue/Question
ROS 6.40.9 does not provide supported key algorithms when establishing SSH transport, so a key algo must be guessed. The algorithm chosen by Paramiko by default causes immediate connection loss.

It would be beneficial to implement an `optional_args`-based arguments pass-through to both the SSHClient instance and its `.connect(...)` method.

So far the issue had b

[2022-10-30 14:33] luqasz commented on #107
Does login to that MikroTik with regular ssh + key file work ?
Please execute following code and paste the output:
[code]

I've just tried that on ROS 7.4 and logged in without any problems:
[code]

[2022-10-30 14:50] alryaz commented on #107
Please note that the ticket describes the issue with ROS 6.40.9.

[2022-10-30 15:06] alryaz commented on #107
Please, review https://github.com/napalm-automation-community/napalm-ros/pull/108. It might give more clarity to the problem I am trying to circumvent.

_P.S. Unfortunately, updating ROS is not an option in the foreseeable future._